<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='css/google_icons.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/console.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>GLaDOS</title>
</head>
<body>
    <div id="blurcont">
        <img id="bluree" src="{{ wallpaper|safe }}" >
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/console.js') }}"></script>

    <div class="container wrap z-depth-2">

        {% include "SVN.html" %}

        {% include "GIT.html" %}

    </div>
</body>
</html>